<h1>Message Board</h1>
<form action="/new" method="post">
  <label for="">Author name:</label> <br />
  <input type="text" placeholder="authorname" name="author" /><br />
  <label for="">Text</label><br />
  <input type="text" placeholder="input text" name="text" /><br />
  <button type="submit">Submit</button>
</form>
