<form action="/new" method="post">
  <Label>Author name:</Label> <br />
  <input type="text" name="author" /> <br />
  <Label>Text:</Label> <br />
  <input type="text" name="text" /> <br />
  <button type="submit">Submit data</button>
</form>
